<div class="main-text">
  <h1 class="cursive-header highlight">Iniciación a la moda</h1>
  <img src="assets/images/categories/content/iniciacion_a_la_moda.jpg" alt="imagen iniciacion moda">

  <h2 class="highlight">¿Te gustaría aprender los trucos más básicos y esenciales en moda para sacarte un mayor
    partido?</h2>

  <p>En este curso aprenderás a identificar los colores que mejor te sientan para conseguir el efecto que buscas en
    todas tus prendas. Aprenderás también a potenciar tu ﬁgura destacando las zonas que te gustan y quitando el foco en
    el resto.</p>

  <p>Identificaremos qué prendas son esenciales en tu armario para que no pierdas más tiempo por las mañanas.
    Acompañaremos
    el curso con una actualización de las tendencias que se llevan en esta temporada para que aprendas a identificar
    cuáles van con tu estilo personal.</p>

  <p>Además de enseñarte a través de las lecciones de una manera práctica y acompañada, aprenderás a poner en práctica
    todos los trucos para ser una profesional de la moda.</p>
  <p>Aprende a poner en práctica esta información para poder hacer asesorías de imagen online y presenciales.
    A la finalización del curso, se emitirá el correspondiente Diploma de la Escuela a los alumnos que hayan superado
    con éxito los contenidos del programa.</p>

</div>

