@import "../../styles/variables";
@import "../../styles/hamburguer";

.header-container {
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  @include media-query('large') {
    justify-content: space-around;
  }

  width: 100%;
  padding: 0 1.4rem 0 1.4rem;
  height: 8.5rem;
  transition: background-color 0.6s ease-in-out;

  .logo {
    cursor: pointer;

    img {
      height: 6rem;
      align-self: auto;
    }
  }

  &.scrolled {
    background-color: rgba(6, 9, 24, 0.4);
    border: 0.3px solid var(--white-bg);
  }

  .navbar {
    display: none;

    @include media-query('large') {
      display: block;
    }

    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding: 0;

      li {
        font-size: 1.1em;
        font-weight: 500;
        position: relative;

        a {
          $hover-color: black;
          position: relative;
          display: inline-block;
          padding: 10px;
          text-decoration: none;
          cursor: pointer;
          background-image: linear-gradient(
              to left,
              $black,
              $black 50%,
              $hover-color 50%
          );
          background-size: 200% 100%;
          background-position: -100%;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 0.3s ease-in-out;

          &:before {
            content: '';
            background: $hover-color;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            transition: all 0.5s ease-in-out;
          }

          &:hover {
            background-position: 0;

            &::before {
              width: 100%;
            }
          }
        }

        ul {
          display: none;
          position: absolute;
          left: 0;
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            background-color: #fff;

            a {
              display: block;
              padding: 8px;
              color: #000;
              text-decoration: none;
              text-align: left;

              &:hover {
                background-color: #f8f8f8;
              }
            }
          }
        }

        &:hover > ul {
          display: block;
          animation: fadeIn 0.3s ease;
        }
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.fullscreen-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;

  .nav-container {
    position: absolute;
    top: 50%;
    margin-left: 7%;
    transform: translateY(-50%);
    font-size: 1.75em;

    @include media-query('small') {
      font-size: 2.25em;
    }
    @include media-query('medium') {
      font-size: 2.5em;
    }
  }
}

.fullscreen-nav.open {
  z-index: 2;
  backdrop-filter: blur(3px);
}
