<div class="header-container">
  <a class="logo"><img src="assets/images/logo.png" alt="Logo"></a>

  <div class="hamburguer">
    <div class="btn not-active" (click)="toggleHamburger()"
         [ngClass]="{'active': isHamburgerActive, 'not-active': !isHamburgerActive}">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <nav class="navbar">
    <ul>
      <li><a class="hover-underline-animation">PERSONAL SHOPPER</a></li>
      <li>
        <a class="hover-underline-animation">SERVICIOS PARTICULARES</a>
        <ul>
          <li><a>Asesoría de belleza</a></li>
          <li><a>Análisis morfológico</a></li>
          <li><a>Análisis de armario</a></li>
          <li><a>Asesoría para bodas</a></li>
          <li><a>Asesoría para hombres</a></li>
          <li><a>Cambio step by step</a></li>
          <li><a>Healthy styling</a></li>
          <li><a>Asesoría de habilidades comunicativas</a></li>
        </ul>
      </li>
      <li>
        <a class="hover-underline-animation">ORGANIZACIÓN DE EVENTOS</a>
        <ul>
          <li><a>Wedding planner</a></li>
          <li><a>Entrega de premios</a></li>
          <li><a>Convocatorias vip</a></li>
          <li><a>Inauguraciones</a></li>
          <li><a>Aniversarios de empresas</a></li>
          <li><a>Presentaciones</a></li>
        </ul>
      </li>
      <li>
        <a class="hover-underline-animation">CURSOS DE IMAGEN PERSONAL</a>
        <ul>
          <li><a>Iniciación a la moda</a></li>
          <li><a>Profesional de moda</a></li>
          <li><a>Experto en moda</a></li>
        </ul>
      </li>
    </ul>
  </nav>

</div>

<span class="fullscreen-nav animate__animated"
      [ngClass]="{'animate__slideInRight': isHamburgerActive, 'open': isHamburgerActive, 'animate__slideOutRight': isHamburgerActive === false}">
  <div class="nav-container">

    </div>
</span>
