<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Contacto</h3>
        <ul class="footer-links">
          <li>Teléfono: +34 123 456 789</li>
          <li>Email: info&#64;charmeettenue.com</li>
          <li>Dirección: Calle de la Moda, 123, Madrid</li>
        </ul>
      </div>

      <div class="col">
        <h3>Servicios</h3>
        <ul class="footer-links">
          <li><a href="#">Personal Shopper</a></li>
          <li><a href="#">Servicios Particulares</a></li>
          <li><a href="#">Organización de eventos</a></li>
          <li><a href="#">Cursos de imagen personal</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <p class="text-muted">© 2024 Charme Et Tenue. Todos los derechos reservados.</p>
          </div>
          <div class="col">
            <ul class="footer-legal-links">
              <li><a href="#">Aviso Legal</a></li>
              <li><a href="#">Política de Privacidad</a></li>
              <li><a href="#">Política de Cookies</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
