<footer class="footer">
  <div class="container">
    <div class="row border-bottom">
      <div class="col">
        <h3>Contacto</h3>
        <ul class="footer-links">
          <li>Teléfono: +34 123 456 789</li>
          <li>Email: info&#64;charmeettenue.com</li>
          <li>Dirección: Calle de la Moda, 123, Madrid</li>
        </ul>
      </div>

      <div class="col">
        <h3>Servicios</h3>
        <ul class="footer-links">
          <li><a [routerLink]="'imagen-personal'">Nuestros Cursos</a></li>
          <li><a [routerLink]="'personal-shopper'">Personal Shopper</a></li>
          <li><a [routerLink]="'servicios-particulares'">Servicios Particulares</a></li>
          <li><a [routerLink]="'organizacion-eventos'">Organización De Eventos</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <p class="text-muted">© 2024 Charme Et Tenue. Todos los derechos reservados.</p>
          </div>
          <div class="col">
            <ul class="footer-legal-links">
              <li><a [routerLink]="'legal-advise'">Aviso Legal</a></li>
              <li><a [routerLink]="'privacy-policy'">Política de Privacidad</a></li>
              <li><a [routerLink]="'cookies'">Política de Cookies</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
