<div class="main-text">
  <h1 class="cursive-header highlight">Experto en moda</h1>

  <p><span class="highlight">Conviértete en un profesional</span> capaz de proyectar, generar y realizar nuevos
    conceptos e ideas, siendo coherente con las exigencias del futuro mercado de la moda y de la imagen.</p>

  <h2>¿Conoces el visagismo?</h2>

  <img src="assets/images/categories/content/experto_en_moda.jpg" alt="imagen experto moda">

  <p>El visagismo nace como método de comunicación y análisis estético para realzar la belleza de cada persona. Es
    el conjunto de técnicas que ayudan a realizar un estudio detallado de las formas, volúmenes y líneas del rostro
    para descubrir sus posibilidades de maquillaje y estilismo.</p>

  <p>También podrás <span class="highlight">aprender todos los secretos</span> del maquillaje y sacar el máximo partido
    al maquillaje sobre tu
    imagen.</p>

  <p>Indagaremos sobre los tejidos, formas y volúmenes para saber exactamente qué tejidos, cómo y cuándo
    utilizarlos.</p>

  <p>Lo mismo nos sucede cuando tenemos un evento o una fiesta especial.</p>
  <ul>
    <li>¿Realmente sabes cuál es el código de vestimenta?</li>
    <li>¿Sabes exactamente qué tipo de vestido debes llevar?</li>
    <li>¿De qué tejido debe ser?</li>
    <li>¿Sirve cualquier atuendo?</li>
  </ul>

  <p>Estamos seguras de que no quieres desentonar y seguro que deseas aprender el Dress Code de cada evento y
    siempre sabrás qué utilizar en cada evento.</p>

  <p>Este curso siempre terminará con un módulo especial donde tendrás disponibles las últimas tendencias en make
    up & moda, un módulo super especial ya que será de gran ayuda para terminar esta formación con las tendencias del
    momento. A la finalización del curso, se emitirá el correspondiente Diploma de la Escuela a los alumnos que hayan
    superado con éxito los contenidos del programa.</p>
</div>

