<div class="main-text">
  <h1 class="cursive-header highlight">Weeding Planner</h1>

  <p class="highlight">¡Haz realidad e día de tus sueños con nuestra experta organización de bodas!</p>
  <p>En un día tan especial, cada detalle cuenta. En Charme et Tenue somos un equipo dedicado a la coordinación de cada
    aspecto de tu boda, desde la selección del lugar perfecto hasta la elección de menú y la decoración, para que tú y
    tus seres queridos puedan disfrutar de un evento inolvidable sin preocupaciones.</p>
  <p>Nos comprometemos a hacer realidad tu visión, trabajando estrechamente contigo para capturar la esencia de tu amor
    y plasmarla en cada aspecto de la celebración. Ya sea una boda íntima o una gran celebración, nuestro objetivo es
    superar tus expectativas y crear recuerdos que perduren toda la vida.</p>
  <p>Con nuestra experiencia y atención al detalle, puedes relajarte y disfrutar del día más importante de tu vida
    mientras nosotros nos ocupamos de todos los preparativos. Permítenos convertir tus sueños en realidad y hacer de tu
    boda un evento verdaderamente mágico.</p>

</div>
