<div class="main-text">
  <h1 class="cursive-header highlight">Weeding Planner</h1>

  <img src="assets/images/categories/content/wedding_planner.jpg" alt="imagen">

  <p>El día más importante de tu vida, cada detalle cuenta. Desde el lugar de la ceremonia hasta los pequeños adornos en
    las mesas, cada elemento se une para crear una experiencia inolvidable. Con Charme et Tenue, puedes estar seguro de
    que tu boda será un evento extraordinario que refleje tu amor y personalidad.</p>
  <p>Nuestro equipo de expertos en planificación de boda está dedicado a convertir tus sueños en realidad. Desde la
    primera consulta hasta el último brindis, nos encargamos de cada aspecto permitiéndote relajarte y disfrutar del
    viaje hacia tu gran día.</p>
  <p>Nos comprometemos a hacer realidad tu visión, trabajando estrechamente contigo para capturar la esencia de tu amor
    y plasmarla en cada aspecto de la celebración. Ya sea una boda íntima o una gran celebración, nuestro objetivo es
    superar tus expectativas y crear recuerdos que perduren toda la vida.</p>
  <p>Con nuestra experiencia y atención al detalle, puedes relajarte y disfrutar del día más importante de tu vida
    mientras nosotros nos ocupamos de todos los preparativos. Permítenos convertir tus sueños en realidad y hacer de tu
    boda un evento verdaderamente mágico.</p>

</div>
