<div class="main-text">
  <h1 class="cursive-header highlight">Profesional de moda</h1>

  <h2 class="highlight">¿Eres de los que no te conformas con lo básico y siempre estás buscando la excelencia?</h2>
  <img src="assets/images/categories/content/profesional_en_moda.jpg" alt="imagen">

  <p>Este es uno de los cursos más completos que existe en nuestra oferta formativa. Descubre todas las técnicas de
    estilismo y personal shopper. Este curso cuenta con módulos muy específicos donde aprenderás de los mejores
    profesionales del sector. Aprenderás también a potenciar tu ﬁgura destacando las zonas que te gustan y quitando el
    foco en el resto.
    Identificaremos qué prendas son esenciales en tu armario para que no pierdas más tiempo por las mañanas.
    Acompañaremos el curso con una actualización de las tendencias que se llevan en esta temporada para que aprendas a
    identificar cuáles van con tu estilo personal.
    Pero todo esto no nos sirve para nada si no sabemos qué estilos existen. Necesitas identificar tu estilo propio y
    único para dar lo mejor de ti mismo.
    <span class="highlight">Encuentra tu esencia</span>, aprende a vestirte para proyectar tu personalidad.</p>
  <p>Durante la formación indagaremos en todos esos errores que solemos cometer todos cuando nos vestimos para que no
    proyectemos una personalidad que no es la nuestra.</p>
  <p>No vuelvas a utilizar prendas que no van con tu estilo, no vuelvas a utilizar complementos y accesorios que no van
    acorde a tu personalidad. Aprende a saber qué tipo de gafas deberías usar, qué gorros te favorecen, qué tipo de
    gargantilla te sienta bien.</p>
  <h2>¿Conoces el visagismo?</h2>
  <p>El visagismo nace como método de comunicación y análisis estético para realzar la belleza de cada persona. Es el
    conjunto de técnicas que se utilizan para corregir el rostro a través del maquillaje. Analiza las formas, volúmenes
    y líneas del rostro para descubrir sus posibilidades de maquillaje y estilismo.
    Aprenderás hacer el análisis de visagismo para que puedas utilizarlo tanto en el maquillaje como en los cortes de
    pelo e incluso en la moda.</p>
  <ul>
    <li>¿Estás cansada de no encontrar tu corte de pelo ideal?</li>
    <li>¿Llevas toda la vida probando diferentes looks y ninguno te
      convence?</li>
  </ul>
    <p>Aquí <span class="highlight">aprenderás todas las técnicas</span> necesarias para identificar el corte de pelo perfecto para ti. Aprenderás
  también las mejores técnicas de maquillaje para corregir todas nuestras imperfecciones.</p>
  <p>Pon en práctica toda esta información para realizar asesorías de imagen online y presenciales.</p>
  <p>A la finalización del curso, se emitirá el correspondiente Diploma de la Escuela a los alumnos que hayan superado
    con éxito los contenidos del programa.</p>

</div>

