<div class="main-text">
  <h1 class="cursive-header highlight">Personal Shopper</h1>
  <img ngSrc="assets/images/shopping.jpg" alt="Shopping img" height="481" width="1000">
  <h2>¿Sabias que puedes contar con un personal shopper como las celebridades?</h2>

  <p>En Charme et tenue, ofrecemos servicios de personal shopper en Bilbao, tanto para quienes
    necesitan asesoramiento constante como para quienes buscan mejorar su imagen
    personalmente.</p>

  <p>Te ayudaremos a hacer compras inteligentes, invirtiendo en prendas que se ajuste a tu estilo y
    necesidades. Si te aburre ir de compras, no tienes tiempo o has gastado dinero en prendas que
    no necesitabas, contáctanos. Te garantizamos resultados óptimos y un armario lleno solo de <span class="highlight">lo
    mejor para ti.</span></p>

  <p>La imagen personal es crucial en el mundo profesional. Si tienes dudas sobre tu atuendo para
    el trabajo o un evento importante, <span class="highlight">¡Contáctanos!</span> Adaptamos nuestros servicios a tu presupuesto y necesidades,
    convirtiendo el asesoramiento en una versión inteligente que
    maximiza tu guardarropa y ahorra dinero a largo plazo.</p>
</div>
