<div class="main-text">
  <h1 class="cursive-header highlight">NOVIA</h1>
  <p>¡Haz que tu día especial brille aún más con la ayuda de Charme et Tenue en la elección del vestido y la asesoría de
    imagen para tu boda!</p>

  <p>Sabemos que encontrar el vestido perfecto para tu gran día puede ser abrumador, pero estamos aquí para hacer que
    sea una experiencia emocionante y sin complicaciones. Con nuestro equipo de expertos en moda y estilismo a tu
    disposición, te guiaremos a través de una selección cuidadosa de vestidos que realcen tu belleza única y
    complementen tu estilo personal.</p>

  <p>Desde vestidos de novia clásicos y elegantes hasta opciones modernas y atrevidas, tenemos una amplia gama de
    diseños para adaptarse a todos los gustos y preferencias. Nuestras asesoras te ayudarán a encontrar el vestido que
    te haga sentir absolutamente deslumbrante en tu día especial, asegurándose de que cada detalle sea perfecto.</p>

  <p>Pero nuestra ayuda no se detiene ahí. Además de ayudarte a elegir el vestido perfecto, también ofrecemos asesoría
    de imagen completa para garantizar que te sientas segura y radiante en cada momento de tu boda. Desde la elección
    del peinado y el maquillaje hasta los accesorios y detalles finales, nuestro equipo de estilistas se asegurará de
    que tu apariencia sea impecable y refleje tu personalidad única.</p>

  <p>Con Charme et Tenue a tu lado, puedes confiar en que estarás deslumbrante desde el momento en que camines por el
    pasillo hasta el último baile de la noche. Deja que nuestra experiencia en moda y estilismo te lleve a un nuevo
    nivel de elegancia y sofisticación en tu día más especial. Contáctanos hoy mismo para comenzar el viaje hacia el
    vestido y la imagen perfectos para tu boda.</p>
</div>
