<div class="main-text">
  <h1 class="cursive-header highlight">NOVIO</h1>
  <p>¿Necesitas ayuda para elegir el traje perfecto el día de tu boda?</p>
  <p>Sabemos que tu boda es uno de los días más importantes de tu vida, y queremos asegurarnos de que luzcas impecable y
    te sientas completamente seguro en cada momento. Nuestro equipo de expertos en moda masculina está aquí para
    ofrecerte una asesoría personalizada que realce tu estilo y refleje tu personalidad en tu día más especial.</p>
  <p>Desde la selección del traje perfecto hasta los detalles finales como corbatas, pañuelos de bolsillo y gemelos, nos
    aseguraremos de que cada elemento de tu atuendo esté cuidadosamente coordinado para crear una apariencia elegante y
    sofisticada que te haga destacar.</p>
  <p>Nuestras estilistas profesionales trabajarán contigo para entender tus gustos, preferencias y estilo personal, y te
    guiarán a través de una selección de trajes y accesorios que se adapten perfectamente a ti y al estilo de tu
    boda.</p>
  <p>Además, nuestra asesoría de imagen no se limita solo al día de la boda. También te proporcionaremos consejos y
    recomendaciones para el cuidado de la piel, el cabello y el afeitado, para que puedas lucir radiante y sentirte
    seguro desde el momento en que te levantes hasta el último baile de la noche.</p>
  <p>Con Charme et Tenue, puedes estar seguro de que tu aspecto será impecable y que te sentirás completamente confiado
    en tu día de boda. Deja que nuestro equipo de expertos se encargue de todos los detalles para que puedas relajarte y
    disfrutar al máximo de este día tan especial. Contáctanos hoy mismo para comenzar a planificar tu asesoría de imagen
    para novios y dar el primer paso hacia un estilo inolvidable en tu boda.</p>
</div>
