<div class="cookies main-text">
  <h1>Política de Cookies de Charme Et Tenue</h1>
  <p>En Charme Et Tenue, respetamos su privacidad y entendemos la importancia de mantener segura su información. Por lo
    tanto, no recogemos ni almacenamos ningún dato de cookies cuando visita nuestro sitio web.</p>
  <h2>¿Qué son las cookies?</h2>
  <p>Las cookies son pequeños archivos de texto que se almacenan en su dispositivo cuando visita ciertos sitios web.
    Estos archivos contienen información sobre sus visitas a la página web, pero no recogen ni almacenan información
    personal.</p>
  <h2>¿Cómo utilizamos las cookies?</h2>
  <p>Como hemos mencionado anteriormente, no utilizamos cookies para recoger o almacenar información sobre su visita a
    nuestro sitio web. Nuestro compromiso con la privacidad de nuestros usuarios significa que priorizamos la protección
    de su información por encima de todo.</p>
  <h2>¿Cómo puede gestionar las cookies?</h2>
  <p>Aunque no utilizamos cookies en nuestro sitio web, puede que otros sitios web sí lo hagan. La mayoría de los
    navegadores web permiten gestionar las preferencias de cookies. Puede ajustar su navegador para que rechace cookies,
    o elimine ciertas cookies. Por lo general, también debería poder gestionar tecnologías similares de la misma forma
    que gestiona las cookies, utilizando sus preferencias de navegación.</p>
  <h2>Cambios en nuestra política de cookies</h2>
  <p>Revisamos regularmente nuestra política de cookies y publicaremos cualquier actualización en esta página web. Esta
    política de cookies fue actualizada por última vez el 1 de enero de 2024.</p>
  <h2>¿Cómo contactarnos?</h2>
  <p>Por favor, póngase en contacto con nosotros si tiene alguna pregunta sobre nuestra política de cookies o la
    información que tenemos sobre usted. Puede contactarnos por correo electrónico o por correo postal a la dirección
    que figura a continuación.</p>
</div>
