<div class="main-text">
  <h1 class="cursive-header highlight">Healthy Styling</h1>

  <p>Nuestro programa de estilismo saludable, te ayudaremos a cuidar tu cuerpo, salud y belleza, lo cual actualmente se
    traduce como mor propio. A través de un enfoque personalizado, te guiamos hacia el adecuado estado de salud y
    bienestar fisco y emocional.</p>
  <p>Nuestro programa combina la expertise de expertos en dietética y nutrición con la asesoría de imagen personal.
    Reconocemos que el equilibrio entre el interior y el exterior es fundamental para alcanzar una transformación
    integral.</p>
  <p>Conscientes de las dificultades para cambiar hábitos, nuestro enfoque dual trabaja simultáneamente en mejorar tu
    bienestar interior y exterior. Te ayudamos a cultivar hábitos saludables mientras aprendes a gestionar tu cambio de
    image de manera natural y perdurable en el tiempo.</p>
  <p>Nuestro objetivo es que te veas y sientas mejor contigo mismo, manteniendo tu esencia. Te enseñamos a elegir
    prendas que resalten tu figura y colores que realcen tu tono de piel y cabello. De esta manera, fortalecerás tu
    autoestima y alcanzarás tu objetivo de cambio integral.</p>

</div>
