<div class="main-text">
  <h1 class="cursive-header highlight">Healthy Styling</h1>

  <p>Cuidar tu cuerpo, tu saludo, tu belleza es cuidar tu imagen, y eso es sinónimo de amor por ti mismo.</p>
  <p>Con este programa te ayudamos a que alcances el adecuado estado de salud, de bienestar físico y emocional, siempre
    de un modo totalmente personalizado, ya que cada individuo es único.</p>
  <p>Puesto que nuestro interior y nuestro exterior son dos caras de una misma moneda, debemos ser conscientes de que
    cualquier mejora que podamos hacer en cualquiera de los sentidos repercutirá positivamente en el otro.</p>
  <p>Por eso a través de nuestro programa de "Estilismo Saludable", contarás con la ayuda y asesoramiento de los mejores
    expertos en el ámbito de la dietética y nutrición, así como en el ámbito de la Asesoría de Imagen Personal.</p>
  <p>En nuestra sociedad somos conscientes de que debemos cambiar muchos de esos hábitos que el estilo de vida del SXXI
    nos ha hecho adquirir casi inconscientemente, pero son muchos los factores que nos impiden iniciar ese cambio.</p>
  <p>Con el Healthy Styling queremos ayudarte a romper esas barreras que te impiden lograr tu objetivo, y una de las
    dificultades que normalmente encontramos en todo proceso de cambio es esa falta de paciencia que nos lleva a
    abandonar antes de obtener el resultado deseado, ya que muchas veces no somos capaces de percibir esos cambios que
    estamos favoreciendo en nuestro interior.</p>
  <p>Esto provoca que lo que en teoría iba a ser algo positivo para nosotros se convierta en algo negativo al
    producirnos esa sensación de fracaso, de frustración.</p>
  <p>Puesto que somos conscientes de que cambiar nuestros hábitos de vida para ganar salud, perder peso, etc... no es
    algo que se logre de la noche a la mañana, hemos creado nuestro este programa dual que trabaja simultáneamente sobre
    las dos caras de esa moneda.</p>
  <p>Con este sistema mientras vamos asentando una buena base para lograr ese cambio interior, a través de nuestros
    programas de Asesoría Nutricional y Dietoterapia, vamos trabajando simultáneamente nuestro aspecto exterior a través
    de nuestro servicio de Asesoría de Imagen Personal, con el que te enseñaremos a gestionar tu propio cambio de imagen
    de una manera natural y perdurable en el tiempo, asumiéndolo como algo propio, aprendiendo a sacar lo mejor de
    nosotros mismos a través de los principios básicos de la Asesoría de Imagen.</p>
  <p>Con ello rápidamente te verás mejor, sin dejar de ser tú mismo, simplemente sabiendo elegir de manera adecuada que
    prendas son las que mejor te sientan en base a tu tipología de cuerpo, o cuáles son los colores que más te favorecen
    en base a tu tono de piel o color de pelo.</p>
  <p>De esta manera te sentirás mejor, reforzarás tu autoestima y conseguirás alcanzar ese objetivo tan ansiado, tu
    cambio integral.</p>
</div>
