<div class="main-text">
  <h1 class="cursive-header highlight">Asesoría para bodas</h1>

  <h2>NOVIA</h2>
  <p class="highlight">¡Celebra tu día especial con el asesoramiento perfecto para tu boda!</p>
  <p>En uno de los momentos mas importantes de tu vida, queremos asegurarnos de que te sientas absolutamente radiante y
    segura. Nuestro servicio de asesoramiento para novias ofrece una experiencia personalizada y dedicada, desde la
    elección del vestido perfecto hasta los detalles finales de tu look nupcial.</p>
  <p>En Charme et Tenue te guiaremos a través de una amplia selección de vestidos de novia, ayudándote a encontrar el
    estilo que mejor se adapte a tu personalidad, tipo de silueta y visión para tu gran día. Desde una amplia gama de
    vestidos hasta los últimos detalles, estamos aquí para hacer realidad el vestido de tus sueños.</p>

  <p>Además, nuestro equipo te brindara consejos y sugerencias sobre accesorios, peinado y maquillaje para completar tú
    look nupcial a medida. Nos aseguraremos que cada detalle este perfectamente coordinado para que te sientas
    absolutamente deslúmbrate el día de tu boda.</p>
  <p>Confía en Charme et Tenue para que te acompañemos en este emocionante viaje hacia el altar ¡Déjanos hacer que tu
    día especial sea verdaderamente inolvidable con nuestro servicio de asesoramiento para
    novias!</p>

  <h2>NOVIO</h2>
  <p>En uno de los momentos mas significativos de tu vida, queremos asegúranos de que te sientas impecable y confiado.
    Nuestro servicio de asesoramiento para novios ofrece una experiencia personalizada y dedicada, desde la elección del
    traje perfecto hasta los detalles finales de tu apariencia nupcial.</p>
  <p>Nuestro equipo de expertas en moda masculina te guiara a través de una amplia gama de trajes de novios, ayudándote
    a encontrar el estilo que refleje tu personalidad, se adapte a la temática de tu boda y resalte tu figura de la
    mejor manera posible. Desde clásicos hasta tendencias contemporáneas, estamos aquí para ayudarte a encontrar e traje
    ideal para tu gran día.</p>
  <p>Además, en Charme et Tenue te proporcionaremos consejos expertos sobre los accesorias, cazado y cuidado personal
    para asegurarte de lucir impecable de pies a cabeza. Nos aseguraremos de que cada detalle este cuidadosamente
    coordinado para que te sientas seguro y elegante mientras caminas hacia e altar.</p>
  <p>Confía en nosotras para acompañarte en este emociónate viaje hacia el matrimonio. ¡Déjanos hacer que tu día
    especial sea verdaderamente inolvidable con nuestro servicio de asesoramiento para novios!</p>

  <h2>MADRINA</h2>
  <p class="highlight">¡Prepárate para brillar en un día lleno de emociones!</p>
  <p>En un día tan especial, el papel de la madrina es de suma importancia, y queremos asegurarnos de que te sientas
    absolutamente deslumbrante y segura de ti misma. Nuestro servicio de asesoramiento para madrinas esta diseñado para
    ofrecerte una experiencia personalizada y exclusiva, donde te guiaremos paso a paso para encontrar el atuendo
    perfecto que te haga lucir y sentirte increíble en esta ocasión tan especial.</p>
  <p>Nuestros expertos en moda te acompañan en la selección del conjunto ideal, teniendo en cuenta tu estilo personal,
    la temática de la boda y cualquier preferencia especifica que tengas. Desde elegantes vestidos hasta conjuntos
    sofisticado, te ayudaremos a encontrar la opción que resalte tu belleza y se ajuste a la ocasión.</p>
  <p>El equipo de charme et tenue te proporcionara consejos sobre accesorios, peinado y maquillaje para completar tu
    look
    de manera impecable. Nos aseguraremos de que cada detalle este perfectamente coordinado para que puedas caminar con
    confianza y gracia junto a los novios en su día especial.</p>
  <p>Confía en nosotras para ser tu aliada en este emocionante viaje. ¡Déjanos ayudarte a destacar como la madrina
    perfecta con nuestro servicio de asesoramiento para madrinas!


</div>
