<div class="main-text">
  <h1 class="cursive-header highlight">MADRINA</h1>
  <img src="assets/images/categories/content/madrina.jpg" alt="imagen">

  <p>¡Prepárate para brillar junto a tu hijo/a en el día de su boda con la asesoría para madrinas de Charme et
    Tenue!</p>
  <p>Como madrina tu papel en la boda es especial y significativo, y queremos asegurarnos de que te sientas tan hermosa
    por fuera como te sientes por dentro en este día tan importante.</p>
  <p>Nuestro equipo está aquí para ofrecerte una asesoría personalizada que realce tu belleza natural y refleje tu
    estilo único. Desde la selección del vestido perfecto hasta la elección de los accesorios adecuados, te guiaremos a
    través de cada paso del proceso para garantizar que tu apariencia sea impecable y elegante.</p>
  <p>Nos dedicamos a entender tus gustos, preferencias y preocupaciones, y trabajaremos contigo para encontrar el
    atuendo perfecto que te haga sentir segura, cómoda y deslumbrante en el día de la boda de tu hijo/a.</p>
  <p>Además, nuestra asesoría no se limita solo al aspecto exterior. También te proporcionaremos consejos y
    recomendaciones para el cuidado de la piel, el maquillaje y el peinado, para que puedas lucir radiante desde el
    momento en que comience la celebración hasta el último baile de la noche.</p>
  <p>Con Charme et Tenue a tu lado, puedes estar segura de que estarás lista para acompañar a tu hijo/a en este día tan
    especial con estilo, gracia y confianza. Deja que nuestro equipo de expertos se encargue de todos los detalles para
    que puedas relajarte y disfrutar al máximo de este momento tan significativo. Contáctanos hoy mismo para comenzar a
    planificar tu asesoría para madrinas y dar el primer paso hacia un estilo inolvidable en la boda de tu hijo/a.</p>
</div>
