<div class="privacy-policy main-text">
  <h1>Política de Privacidad de Charme Et Tenue</h1>
  <p>En Charme Et Tenue, nos comprometemos a proteger y respetar su privacidad. Esta Política de Privacidad explica qué
    datos personales recopilamos de usted, cómo los utilizamos, las condiciones bajo las cuales podemos divulgarlos a
    otros y cómo los mantenemos seguros.</p>
  <h2>¿Quiénes somos?</h2>
  <p>Somos Charme Et Tenue, una empresa registrada en España. Nuestro sitio web es www.charmeettenue.com.</p>
  <h2>¿Qué datos personales recopilamos?</h2>
  <p>Los tipos de datos personales que recopilamos incluyen su nombre, dirección, dirección de correo electrónico,
    número de teléfono, dirección IP, información sobre qué páginas se han visto y cuándo y dónde se han visto, y
    cualquier otra información que decida enviarnos.</p>
  <h2>¿Cómo utilizamos sus datos personales?</h2>
  <p>Utilizamos sus datos personales para procesar sus pedidos, gestionar su cuenta y, si acepta, enviarle información
    sobre otros productos y servicios que pensamos que pueden ser de su interés.</p>
  <h2>¿Cómo protegemos sus datos personales?</h2>
  <p>Estamos comprometidos a proteger sus datos personales y a implementar medidas de seguridad adecuadas para
    protegerlos. Mantenemos medidas de seguridad físicas, electrónicas y de procedimiento adecuadas para salvaguardar y
    proteger sus datos personales.</p>
  <h2>¿Cómo puede acceder a sus datos personales?</h2>
  <p>Tiene derecho a solicitar una copia de los datos personales que tenemos sobre usted. Si desea una copia de parte o
    de todos sus datos personales, por favor envíenos un correo electrónico o escríbanos a la dirección que figura a
    continuación.</p>
  <h2>Cambios en nuestra política de privacidad</h2>
  <p>Revisamos regularmente nuestra política de privacidad y publicaremos cualquier actualización en esta página web.
    Esta política de privacidad fue actualizada por última vez el 1 de enero de 2024.</p>
  <h2>¿Cómo contactarnos?</h2>
  <p>Por favor, póngase en contacto con nosotros si tiene alguna pregunta sobre nuestra política de privacidad o la
    información que tenemos sobre usted. Puede contactarnos por correo electrónico o por correo postal a la dirección
    que figura a continuación.</p>
</div>
