<div class="main-text">
  <h1 class="cursive-header highlight">Asesoría De Belleza</h1>
  <img src="assets/images/categories/content/asesoria_de_belleza.jpg" alt="imagen">


  <p>¿Sientes que el corte de pelo o peinado ya no te representa? Pero el temor al cambio te impide dar el paso hacia
    algo nuevo, Descubre como <span class="highlight">renovar tu imagen de una manera rápida y eficaz sin perder tu esencia</span>
  </p>
  <p>Te mostraremos que tipos de corte y estilo de peinado son los que más te favorecen.</p>
  <p>Para ello te ofrecemos un servicio exclusivo totalmente personalizado, Donde nuestras asesoras trabajaran para
    conseguir ese cambio que siempre has deseado pero que no te has atrevido a realizar.</p>
  <p>Con este servicio aprenderás las técnicas básicas de maquillaje, <span class="highlight">para que tu cambio de look sea total</span>.
    Descubre los
    servicios profesionales y aquellos tips que te permitirán cada día mostrar un aspecto radiante y más saludable.</p>
  <p>Este servicio también una asesoría de color y estilismo donde aprenderás a elegir los colores adecuados, que mejor
    se adaptan a tu tono de piel, ojos y cabello. Porque no se tarta solo de elegir un color, sino de seleccionar
    aquellos que realzan tus rasgos y te hacen lucir lo mejor posible.</p>
  <p>Con este servicio no solo <span class="highlight">obtendrás un cambio de imagen inmediato,</span> sino que también
    aprenderás a optimizar tu
    imagen eligiendo los colores que te favorecen donde sea que estes. Prepárate para sorprenderte con los nuevos
    resultados y sentirte mas seguro/a y radiante que nunca.</p>
</div>
