@import "../../../styles/variables";

img {
  width: 100%;
  float: none;
  margin: 0 0 10px 0;
}

@include media-query('medium') {
  img {
    width: 450px;
    float: right;
    min-width: 250px;
    margin: 0 0 10px 20px;
  }
}
