<div class="main-text">
  <h1 class="cursive-header highlight">Asesoría De Belleza</h1>

  <p>¿Sientes que el corte de pelo o peinado ya no te representa, pero el temor al cambio te impide dar el paso hacia
    algo
    nuevo? Descubre como renovar tu imagen de manera rápida y efectiva, manteniendo tu esencia intacta, de la mano de
    los
    mejores profesionales.</p>
  <p> Nosotras te ayudaremos a identificar que tipo de corte y estilo de peinado te favorecen mas, para que puedas lucir
    tu
    mejor versión en todo momento.</p>
  <p>Te ofrecemos un servicio exclusivo totalmente personalizado. Nuestros asesores trabajaran junto a estilistas
    expertos
    para materializar ese cambio que siempre has deseado pero que no te has atrevido a realizar.</p>
  <p>Aprenderás las técnicas básicas de maquillaje, para complementar tu nuevo look y resaltar aun mas tu belleza
    natural.
    Descubre los secretos de los profesionales y los tipos que te permitirán lucir radiante y saludable todos los días
    Nuestros servicios incluyen también asesoría de color y estilismo donde a elegir los colores que mejor se adaptan a
    tu
    tono de piel, ojos y cabello. Porque no se trata solo de elegir un color, sino de seleccionar aquellos que realzan
    tus
    rasgos y te hacen lucir lo mejor posible.</p>
  <p>Con este servicio no solo obtendrás un cambio de imagen inmediato, sino que también aprenderás a optimizar tu
    imagen
    eligiendo los colores que te favorecen donde sea que estes. Prepárate para sorprenderte con los resultados y
    sentirte
    mas seguro/a y radiante que nunca.</p>
</div>
