<div class="main-text">
  <h1 class="cursive-header highlight">Organización De Eventos</h1>
  <h2>¡Diseña Eventos Inolvidables!</h2>

  <p>¿Estas buscando crear un momento inolvidable en tu vida, pero te siente abrumado/a? ¡No te
    preocupes!</p>

  <p>En charme te tenue, estamos aquí para hacer realidad tus sueños y convertir ese día especial
    en un <span class="highlight">recuerdo inolvidable.</span></p>

  <p>Desde la elección del lugar perfecto hasta los pequeños <span class="highlight">detalles que marcan la diferencia,</span>
    nosotras nos encargaremos de cada aspecto de la planificación y ejecución de tu evento. Ya
    sea una entrega de premios llena de glamour, el día de tu boda o un aniversario lleno de
    emoción, nos aseguraremos de que todo salga perfecto.</p>

  <p>Nuestra misión es captar tus deseos y necesidades, para así poder crear una experiencia única
    y personalizada y personalizada. Trabajaremos juntos para hacer realidad tu visión.
    Si quieres recordar ese momento inolvidable en tu vida, pero no sabes por donde empezar, <span class="highlight">no
    dudes en contactarnos</span>. En charme et tenue, estamos aquí para hacer que tus sueños se hagan
    realidad y que cada momento sea verdaderamente inolvidable.</p>
</div>

<div class="fx-container">
  <div class="links-container">
    <div *ngFor="let route of routes">
      <div class="box">
        <a [routerLink]="route.path">{{ route.name }}</a>
      </div>
      <h3>{{ route.name }}</h3>
    </div>
  </div>
</div>
