<div class="main-text">
  <h1 class="cursive-header highlight">Análisis Morfológico</h1>

  <p>Cada uno de nosotros posee una forma y figura corporal nica, lo que significa que no todas las prendas nos van a
    favorecer por igual. Pero: </p>

  <ul>
    <li>¿Realmente sabemos que tipo de prendas nos quedan mejor?</li>
    <li>¿Somos conscientes de como ciertos cortes o escotes nos pueden realzar los atributos o disimular nuestras áreas
      de preocupación?
    </li>
  </ul>
  <p>El éxito de un cambio de imagen radica en el profundo autoconocimiento. Por eso, ofrecemos un servicio completo que
    te ayudara a entender mejor tu cuerpo y tus preferencias corporales.</p>

  <p>Como nuestro servicio, recibirás un detallado estudio que te permitirá identificar que tipo de prendas te favorecen
    más y cuales deberías evitar. Tu estilo personal y tus necesidades profesionales serán considerados
    cuidadosamente para que, junto con tus medidas y formas corporales, aprendas a seleccionar la ropa que mejor se a
    adapte a ti.</p>

  <p>¡No te conformes con las prendas que no te hacen sentir seguro/a! descubre como potenciar tu estilo y lucir lo
    mejor de ti mismo en cada ocasión.</p>
</div>
