@import "styles/variables";

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $default-fonts;
  font-size: 16px;
  color: $white-text;
  background-color: $white-bg;
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 16px;
}
