@import "styles/variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $default-fonts;
  font-size: 16px;
  background-color: $white-bg;
  height: 100%;
  color: $black;
}

.container {
  margin: 0 auto;
  padding: 16px;
}

.main-text {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  text-align: justify;

  h1 {
    text-align: center;
  }

  @include media-query('medium') {
    width: 90%;
  }

  @include media-query('large') {
    width: 80%;
  }

  @include media-query('xlarge') {
    width: 70%;
  }

  max-width: 1300px;

  p {
    color: #666;
    line-height: 1.6;
  }
}

.highlight {
  font-weight: bold;
  color: $primary-color;
}

.cursive-header {
  color: $primary-color;
  font-family: $cursivest-fonts;
  font-size: 60px;
  cursor: default;
  margin-top: 20px;
  transition: color 0.5s ease-in-out;


  &:hover {
    color: $secondary-color;
  }
}
