<div class="main-text">
  <h1>¡Bienvenidos a Charme et Tenue!</h1>
  <p>Somos una empresa joven y fresca, con un enfoque centrado en la calidad. En Charme et Tenue, nuestra misión es
    proporcionar un asesoramiento que inspire a las personas a sentirse seguras de si mismas, potenciando su confianza y
    estilo personal.</p>
  <p>Nuestra historia comenzó hace un año, cuando nuestra marca con la visión de ofrecer asesorías personalizadas. Con
    el tiempo, hemos evolucionado para ofrecer una amplia gama de servicios, que van desde asesorías individuales hasta
    la organización de eventos y la impartición de cursos únicos que reflejan la esencia de nuestra marca.</p>
  <p>En Charme et Tenue, nos regimos por valores fundamentales. Valoramos la creatividad, a calidad y la sostenibilidad.
    Trabajamos con proveedores comprometidos con la producción de productos orgánicos y sostenibles, contribuyendo así
    al cuidado del medio ambiente.</p>
  <p>Nuestro equipo esta formado por un grupo de emprendedoras apasionadas por la moda y la organización. Cada una de
    nosotras aporta una perspectiva única al asesoramiento y la planificación de eventos, asegurando un
    <span class="highlight">servicio
    personalizado y de alta calidad</span> para nuestros clientes.</p>
  <p>Con una clara misión de ofrecer calidad que inspire a las personas a sentirse seguras de sí mismas, nuestra visión
    es convertirnos en una marca líder en el mundo del asesoramiento, siendo reconocidos por nuestra excelencia y
    compromiso con nuestros clientes.</p>
  <p>Únete a nuestro viaje para potenciar tu estilo y confianza.</p>

  <img src="assets/images/home.jpg" alt="imagen">

</div>
